{% extends "hotels/base.html" %}

{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
{% endblock %}

{% block breadcrumb %}
<li>
  <a href="{% url "index" %}">Hotels</a> <span class="divider">/</span>
</li>
<li>
  {{hotel}} <span class="divider">/</span>
</li>
{% endblock %}

{% block content %}
<ul id="hotels">

  <li class="row-fluid">
    <div class="span5">
      <a href="{% url "hotel" hotel.id %}">
        <img src="/static/uploads/hotels/{{hotel.image}}" width="100%" alt="{{hotel}}"/>
      </a>
    </div>
    <span class="span5">
      <h3>
        <a href="{% url "hotel" hotel.id %}">{{hotel}}</a>
      </h3>
      <p>
        {{hotel.description}}
      </p>
      <div>
        Available from:
        <strong>{{ hotel.date_from|date:"M d, Y" }}</strong>
        to:
        <strong>{{ hotel.date_thru|date:"M d, Y" }}</strong>
      </div>
    </span>
    <span class="span2 address">
      <h5>
        {{hotel.city}}
        <address>{{hotel.address}}</address>
      </h5>
      <a class="map_link" href="http://maps.google.com/?q={{hotel.address}}" target="_blank">How to arrive?</a>

    </span>

  </li>

</ul>
  {% endblock %}