{% load staticfiles %}

<section class="searcher row-fluid">
  <span class="span3">
    <label for="city" class="span2">City:</label>
    <input type="text" id="city" name="city" class="span6" value="Enter your city..."  autocomplete="off"/>

    <ul class="cities">
      {% for city in hotels %}
      <li>{{city.city}}</li>
      {% endfor %}
    </ul>
  </span>

  <span class="span6 row-fluid">
    <form class="form-horizontal">
      <fieldset>
       <div class="control-group">
         <label class="control-label" for="reservation">Reservation dates:</label>
         <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span><input type="text" name="date_range" id="date_range" />
          </div>
         </div>
       </div>
      </fieldset>
    </form>
  </span>

  <span class="span3 row-fluid">
    <div class="btn reset">Reset Filters</div>
  </span>
</section>