@CHARSET "UTF-8";

#hotels {
  list-style: none;
  float: left;
  margin: 0;
  width: 100%;
}

#hotels li:hover {
  background: #fff;
}

#hotels li {
  background: #f9f9f9;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 1px 1px 3px #ccc;
  float: left;
  padding: 3%;
  width: 94%;
}

.cities{
  display: none;
}

.address {
  text-align: right;
}

address {
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

#hotels li.no_data {
  background: none;
  box-shadow: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-top: 1px dashed #CCCCCC;
  color: orange;
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  width: 100%;
}

.input_container {
  position: relative;
}
.searcher {
font-size: 12px;
}
.searcher label{
  padding-top: 5px;
  font-size: 12px;
}

.searcher input{
  font-size: 12px;
  margin-bottom: 0px;
}

.icon-th {
  position: absolute;
  right: 5px;
  top: 7px;
}

.form-horizontal .control-group {
    margin-bottom: 0;
}

#result_count {
  font-size: 16px;
  font-style: italic;
  color: #999;
  list-style: none;
  padding-bottom: 20px;
  float: left;
  width: 100%;
  margin: 0;
}

#result_count span{
  float: left;
  line-height: 28px;
}

.map_link {
  font-size: 12px;
  padding-top: 10px;
}


.searcher{

    background: #2989d8; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0OTZlOTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #2989d8 0%, #496e99 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2989d8), color-stop(100%,#496e99)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #2989d8 0%,#496e99 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #2989d8 0%,#496e99 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #2989d8 0%,#496e99 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #2989d8 0%,#496e99 100%); /* W3C */
/*  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#496e99',GradientType=0 );  IE6-8 */

  color: #fff;
  text-shadow: 1px 1px #666;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 1px 1px 3px #ccc;
  width: 96%;
  padding: 1% 2%;
  margin-bottom: 20px;

}

.searcher a{
  text-shadow: none;
}
#hotels li:hover a img{
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  -khtml-opacity: 1.0;
  opacity: 1.0;
}

#hotels img {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
  border-radius: 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-shadow: 1px 1px 3px #ccc;
}

#hotels h3 {
  margin: 0;
  font-size: 20px;
}

#hotels h5 {
  font-size: 20px;
  padding-bottom: 10px;
  border-bottom: 1px #ccc dashed;
}