@CHARSET "UTF-8";

body{
  background: #eee;
}

@media (min-width: 768px) and (max-width: 979px) {
  input {
    max-width: 120px;
  }
}

@media (max-width: 767px) {
  section.searcher input{
    margin-bottom: 10px;
  }
}

@media (min-width: 979px) {
  body>.container {
    padding-top: 100px;
  }
}
@media (min-width: 767px) {
  section.searcher input{
    max-width: 140px;
  }
}

.breadcrumb {
  box-shadow: 1px 1px 3px #CCCCCC;
}

form {
  margin: 0;
}

nav.container ul {
  list-style: none;
  float: left;
  height: 40px;
  padding-bottom: 20px;
}

nav.container ul li {
  float: left;
  padding: 0 10px;
  line-height: 80px;
}

#logo {
  float: left;
}

body>section.container {
  padding-bottom: 70px;
}

footer.container-fluid {
  border-top: 1px solid #ccc;
  position: fixed;
  bottom: 0;
  background: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
}

footer ul {
  list-style: none;
}

footer ul li {
  float: left;
  padding: 10px;
}

.copyright {
  float: right;
  text-shadow: 1px 1px #fff;
  color: #666;
}

.btn.reset{
  font-size: 12px;
  float: right;
}